.search {
  width: 300px;
  padding: 3px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 16px;
  box-shadow: 0 0 3px lightgray;
  border-radius: 20px;
  margin: 0 24px;
}
.img {
  width: 30px;
  cursor: pointer;
}
.input {
  width: 100%;
  border: none;
  outline: none;
}
