@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:wght@100..900&family=Inter:opsz,wght@14..32,100..900&display=swap");
:root {
  --gray-color: #303133;
  --green-color: #03ab02;
  --light-gray-color: #7f8188;
  --body-background: #f1f2f1;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
img {
  border-radius: 4px;
}
body {
  background-color: var(--body-background);
  /* Default font */
  font-family: "Inter", sans-serif;

  /* Header font */
  /* font-family: "Albert Sans", sans-serif; */
}
.conteiner {
  max-width: 1344px;
  margin: 0 auto;
  padding: 0 12px;
}
